body {
    background-color: #f1f1f1;
	padding:0px;
	margin: 0;
	font-family: Roboto;
	font-weight: 100;
	font-size: 26px;
}
#all{
width: 65%;
margin: 0 auto;
text-align: center;
}

#header {
background-color: #2a2a2a;
height: 25%;
width: 100%;
margin:0 auto;
padding:0px;
text-align: center;

}
#body {
float:left;
background-color: #e0dfde;
height: 72%;
width: 100%;
margin:0 auto;
padding:0px;
position: relative;
text-align: center;
}
#footer {
float:left;
background-color: #2a2a2a;
height: 3%;
width: 100%;
padding:0px;
}
h1 {
font-family: Roboto;
font-weight: 300;
font-size: 38px;
margin:0px;

}

h2 {
font-family: Roboto;
font-weight: 100;
font-size: 38px;
margin:0px;
}

h3 {
font-family: Roboto;
font-weight: 100;
font-size: 26px;
}

text {
font-family: Roboto;
font-weight: 100;
font-size: 26px;
}
#blok {
	background-color: #2a2a2a;
	text-align: center;
	white-space: nowrap;
	font-size: 20px;
	overflow: hidden;
	height:3%;
	width: 100%;
	color: #e0dfde;
	font-family: Roboto;
	font-weight: 100;
	font-size: 14px;
}
.element {
	display: inline-block;
	letter-spacing: normal;
	font-size: normal;
	white-space: normal;
	text-align: normal;
	vertical-align: middle;
}
